@charset "utf-8";
/* CSS Document */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
}
div {
  margin-bottom: 10px;
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #eee;
  border: #aaa 1px solid;
  cursor: default;
}

/*已下是自定义菜单的css*/
.user-menu {
  position: absolute;
  margin: 0;
  padding: 0;
  display: none;
  border: #bababa 1px solid;
  background-color: #fff;
  box-shadow: 2px 2px 1px 0 #aaa;
  z-index: 9;
}
.user-menu li {
  margin: 5px 0;
  width: 200px;
  padding-left: 20px;
  font-size: 16px;
  line-height: 1.5;
  list-style: none;
  cursor: default;
}
.user-menu li:hover {  background-color: #eee;}
.user-menu .disabled {  color: #a1a1a1;}
.user-menu .disabled:hover {  background-color: #fff;}
.user-menu .split-line {
  margin-left: 1px;
  margin-right: 1px;
  width: 198px;
  border-top: #aaa 1px solid;
}