@charset "utf-8";
/*purify*/
body,div,ul,li,p,figure,h1,h2,h3,h4,h5,h6,hr{
	margin:0;
	padding:0;
}
hr{
    border:1px solid black;
    height:0;
    width:auto;
}
a{
	text-decoration: none;
}
input{
	outline: none;
	margin:0;
	padding:0;
}